body {
    background-color: #eee;
    margin: 0;
    padding: 0;
}

#content {
    float: left;
    background-color: #eee;
}

h1 {
    margin: 0;
    padding: 40px;
}

h2 {
    margin: 0 0 40px;
}

h3 {
    margin: 0;
}

section {
    float: left;
    width: 375px;
    padding: 40px;
}

#upcoming section, #detail section {
    width: 560px;
}

#detail section {
    float: none;
}

#upcoming, #detail {
    float: left;
    background-color: #fff;
}

#past {
    float: left;
}

article {
    margin: 20px 0;
}

article.pic {
    position: relative;
    width: 375px;
    height: 281px;
}

article.pic p {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, .8);
    color: #eee;
}

article.nopic {
    float: left;
    margin-bottom: 40px;
}

div.speaker_pics {
    float: left;
    width: 96px;
}

article.nopic div.talk, .summary.nopic {
    padding-left: 114px;
}
